<!-- Footer -->
<footer id="sticky-footer" class="footer">
    <div class="bottom-class">
      <small>Demonstration made by Imre Baas, Lou-Anne Koster, and Kim Yiu Lui</small>
    </div>
  </footer>
  <!-- Footer -->