<!DOCTYPE html><html><head>
  <script src="./javascripts/p5.js"></script>
  <script src="./javascripts/p5.sound.min.js"></script>
  <script src="./javascripts/ml5.min.js"></script>
  <!--   <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
 -->
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

  <script src="./javascripts/sketch.js"></script>

  <!-- BOOTSTRAP -->

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

<!-- END BOOTSTRAP
 -->
  <meta charset="utf-8">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <div id="videoContainer" class="videocontainer-container"></div>
      </div>
    </div>
    <div class="row">
      <% for (var i =1; i < 4;  i++ ) { %>
        <br/>  <%= listPoses %> 
        <% } %>
    </div>

    <div class="button-row">
      

      <div class="col col-lg-3">
        <button id="TreePose" class="btn btn-info">Only Treepose please!</button>
      </div>
      <div class="col col-lg-3">
        <button id="WarriorPoseI" class="btn btn-info">Only WarriorPoseI please!</button>      
      </div>
      <div class="col col-lg-3">
        <button id="WarriorPoseII" class="btn btn-info">Only WarriorPoseII please!</button>   
      </div>
      <div class="col col-lg-3">
        <button id="WarriorPoseIII" class="btn btn-info">Only WarriorPoseIII please!</button>
      </div>
    </div>
  </div>
</body>
</html>
